@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <h2 class="active"> sign in </h2>


    <form asp-controller="Account" asp-action="Login">



        <input type="text" class="text" name="username">
        <span>username</span>

        <br>

        <br>

        <input type="password" class="text" name="password">
        <span>password</span>
        <br>

        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
        <label for="checkbox-1-1">Keep me Signed in</label>

        <button type="submit" class="signin">
            Sign In
        </button>
        @ViewBag.ErrorMessage

        <hr>


        <div class="form-group"> <button type="button" id="post" onclick="location = '/User/Create'" class="btn">KAYIT OL</button> </div>

    </form> 

</div>