@model IEnumerable<Proje.Models.Food>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/temp/css/comment.css" rel="stylesheet" />

<!-- Main Body -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                @foreach (var item in Model)
                {
                    <h4>@item.Name</h4> <span></span> <br>

                    @foreach (var itemk in item.Comments)
                    {
                        <div class="comment mt-4 text-justify float-left">

                            <h4>@itemk.Name</h4> <span>- 20 October, 2018</span> <br>
                            <p>@itemk.Description</p>
                        </div>

                    }
                }

            </div>
          

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
            
                    <div class="form-inline"> <input type="checkbox" name="check" id="checkbx" class="mr-1"> <label for="subscribe">Subscribe me to the newlettter</label> </div>
                    <div class="form-group"> <button type="button" id="post"onclick="location = '/Comments/Create'" class="btn">Post Comment</button> </div>
                </form>
            </div>
        </div>
    </div>
</section>

