
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/temp/css/all.min.css" rel="stylesheet" />
<link href="~/temp/css/templatemo-style.css" rel="stylesheet" />
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ANGEL'S RESTAURANT</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="css/all.min.css" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="~/temp/img/vienna-g82af17690_1280.jpg">
                <img class="parallax-slider" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -139px; left: 0px; height: 739px; width: 739px; max-width: none;" src="~/temp/img/vienna-g82af17690_1280.jpg" />

                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">                       
                            <img src="~/temp/img/simple-house-logo.png"  alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">ANGEL'S RESTAURANT</h1>
                                <h6 class="tm-site-description"></h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="/Home/Index/" class="tm-nav-link">Home</a></li>
                                <li class="tm-nav-li"><a href="About/Index/" class="tm-nav-link active">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title"> ABOUT ANGEL'S RESTAURANT</h2>
                <p class="col-12 text-center">
                   Sağlıklı yemeklerleriyle, lezzetiyle ünlü olan Angel's Restaurant 13. şubesiyle Londra'da.
                   Mükemmel çalışan kadromuzla sevdiğimiz işi yapıyoruz. Enerjimizle başarıyı elde ediyoruz.
                </p>
            </header>

            <div class="tm-container-inner tm-persons">
                <div class="row">
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="~/temp/img/about-01.jpg"  alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Melek Selin Uysal</h4>
                                <p class="tm-person-title">Founder and CEO</p>
                                <p class="tm-person-about">
                                 Restaurantımızın kurucusudur. İmza yemekleriyle restaurantımız zincir restaurant haline gelmiştir.
                                    Aynı zamanda yazılımcıdır. Sitemizi yazmıştır.
                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                           
                            <img src="~/temp/img/about-02.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Aleyna Çankaya</h4>
                                <p class="tm-person-title">Executive Chef</p>
                                <p class="tm-person-about">
                                   Restaurantımızın baş aşçısıdır. Onun tariflerine ulaşmak zordur.
                                   Elinin değdiği her şey lezzetlidir. Ünlü aşçımıza sahip olduğumuz için mutluyuz.
                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                          
                            <img src="~/temp/img/about-03.jpg" alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Şeyma Göl</h4>
                                <p class="tm-person-title">Kitchen Manager</p>
                                <p class="tm-person-about">
                                  Mutfak Müdürüdür. Aynı zamanda restaurantın kurucu ortaklarındandır. 
                                    Boş vakitlerinde yazılımcılık yapmaktadır.
                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-6">
                        <figure class="tm-person">
                            <img src="~/temp/img/about-04.jpg"  alt="Image" class="img-fluid tm-person-img" />
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Beyza Atasoy</h4>
                                <p class="tm-person-title">Restaurant's Doctor</p>
                                <p class="tm-person-about">
                                Önceliğimiz her zaman sağlıktır. Bu yüzden anlaşmalı doktorumuzla yemeklerimizin sağlığını kontrol ediyoruz.
                                    Her ay çalışanlarımıza bakım yaptırıyoruz.
                                </p>
                                <div>
                                    <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                                    <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                                    <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                                    <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tm-container-inner tm-featured-image">
                <div class="row">
                    <div class="col-12">
                        <div class="placeholder-2">
                            <div class="parallax-window-2" data-parallax="scroll" <img src="~/temp/img/about-05.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-container-inner tm-features">
               
            </div>
            <div class="tm-container-inner tm-history">
                <div class="row">
                    <div class="col-12">
                        <div class="tm-history-inner">

                            <img src="~/temp/img/about-06.jpg"  alt="Image" class="img-fluid tm-history-img" />
                            <div class="tm-history-text">
                                <h4 class="tm-history-title">Restorant Tarihçesi</h4>
                                <p class="tm-mb-p">Restorantımız 2018 yılında kurulmuştur. Çalışanlarımızın girişimci ruhu ile şu an zincir restorantlar arasındayız. Gün geçtikçe de gelişip büyümek için elimizden geleni yapacağız.</p>
                                <p>Bizi tercih ettiğiniz için teşekkür ederiz. Sağlıcakla kalın.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
       
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <footer class="tm-footer text-center">
      
    </footer>

    <script src="~/temp/js/jquery.min.js"></script>
    <script src="~/temp/js/parallax.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
</body>
</html>